<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>todolist</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" name="" v-model="inputValue">
        <input type="button" name="" value="提交" @click="handleClickInput">
        <ul>
            <li v-for="list in item">{{list}}</li>
        </ul>
    </div>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                item:[],
                inputValue:""
            },
            methods:{
                handleClickInput:function(){
                    this.item.push(this.inputValue),//将input里面的内容添加到数组里面
                    this.inputValue=""//清空input里面的内容

                }
            }
        })
    </script>
</body>
</html>